.sortable_list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: fit-content;
    align-items: center;
    

    &:not(:last-child)::before {
        content: ' ';
        position: absolute;
        left: 50px;
        width: calc(100% - 100px);
        border: 1px dashed rgba(var(--color-border--dashed-rgb), 1);
        top: calc(50% - 1px);
    }
}


.sortable_list_item__add {
    cursor: pointer;
    background-color: #fff;
    border-color: var(--color-border--light);
    color: var(--text-color-gray--dark);
}

.sortable_list_item_icon_add_wrapper {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    padding: 0;

    &:hover {
        padding: 0 15px;
        .sortable_list_item_icon_add {
            opacity: 1;
        }
    }
}


.sortable_list_item_icon_add {
  width: 14px;
  max-width: 14px;
  flex: 0 0 14px;
  height: 14px;
  border-radius: 100%;
  border: 1px solid var(--color-border--light);
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
  left: calc(100% + 20px);
  top: calc(50% - 8px);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  padding: 0;
  cursor: pointer;
  margin: 0;
}